.wrapper {
  margin: auto;
  max-width: 925px;
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: #65e74e;
}

@media (min-width: 1024px) {
  .wrapper {
  }
}
