.navbar-custom {
  background-color: #09a0af;
  font-size: 1.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

span {
  padding: 20px;
}

@media (min-width: 1024px) {
  .navbar-custom {
    font-size: 2rem;
  }
}
